<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>
<!--Muestra el estado del user y el rol-->
<ion-content [fullscreen]="true">
  <div *ngIf="user$ | async as user; else loggedOut">
    <h2>Bienvenido, {{ user.username }}!</h2>
    <!--<p>Tu rol es: {{ user.role.id === 1 ? 'Admin' : 'Cliente' }}</p>
    <ion-button (click)="logout()">Logout</ion-button>-->
  </div>

  
  <!--Verifica si es adminn
  <div *ngIf="isAdmin">
  <ion-button (click)="goToAddProducts()">Añadir productos</ion-button>
  </div>-->
  
  <ion-grid>

    <ion-row>
      <ion-col *ngFor="let product of products">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ product.name }}</ion-card-title>
            <ion-card-subtitle>{{ product.company }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>SKU: {{ product.sku }}</p>
            <p>Stock: {{ product.stock }}</p>
            <p>Precio: {{ product.price | currency: '$':'symbol':'0.0-1' }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>

  
  <ng-template #loggedOut>
    <!--<ion-button (click)="goToLogin()">Login</ion-button>-->
  </ng-template>
</ion-content>
