<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="user$ | async as user; else loggedOut">
    <h2>Bienvenido, {{ user.username }}!</h2>
    <p>Tu rol es: {{ user.role.id === 1 ? 'Admin' : 'Cliente' }}</p>
    <ion-button (click)="logout()">Logout</ion-button>
  </div>
  
  <ng-template #loggedOut>
    <ion-button (click)="goToLogin()">Login</ion-button>
  </ng-template>
</ion-content>
